@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif; 
}

body {
  background: #282a36;
}

.logo {
  margin-left: 4.1015625%;
}

header {
  width: 100%;
  height: 64px;
  display: flex;
  background: #bd93f9;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header a {
  margin-right: 4.1015325%;
  text-decoration: none;
  color: #FFF;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline {
  background: #44475a;
  width: 68.34%;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.133916);
  border-radius: 4px;
}

.timeline-item {
  margin: 20px;
}

.timeline-item hr {
  border-color: #6272a4;
}

.timeline-header span {
  display: flex;
  flex-direction: column;
}


.timeline-header {
  display: flex;
}

.timeline-header strong {
  color: #50fa7b;
}

.timeline-header p {
  color: #ff79c6;
}

.timeline-header small {
  color: #ffb86c;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  color: #ff79c6;
  margin-bottom: 20px;
}

.comments span {
  display: flex;
  background: #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.comments span p {
  margin: 10px 15px 10px 15px;
}

.comments {
  display: flex;
  margin-top: 20px;
}

.comments strong {
  color: #6272a4;
}

.comments p {
  color: #44475a;
}